<div class="register" fxLayout="row" fxLayoutAlign="center center">
  <button class="!ml-2" mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="mx-auto my-12 no-shadow">
    <div class="mx-auto w-64 h-44"><img src="../../../assets/logo_p6.png" alt="logo"></div>
    <mat-card-title>
      <h1 class="text-center">Inscription</h1>
    </mat-card-title>
    <mat-card-content class="w-5/6 mx-auto">
      <form class="register-form" [formGroup]="form" (ngSubmit)="submit()" class="w-3/6 mx-auto">
        <label type="username">Nom d'utilisateur</label>
        <input class="border-custom rounded p-2 mb-2 w-full" id="username" placeholder="Nom d'utilisateur" formControlName="username">
        <label type="email">E-mail</label>
        <input class="border-custom rounded p-2 mb-2 w-full" id="email" placeholder="Email" formControlName="email">
        <label type="password">Mot de passe</label>
        <input class="border-custom rounded p-2 mb-2 w-full" id="password" placeholder="Mot de passe" formControlName="password">

        <button mat-raised-button color="primary" class="inline-block mt-4 mx-auto" type="submit" [disabled]="form.invalid">S'inscrire</button>
        <p *ngIf="onError" class="error">Une erreur s'est produite</p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
