<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div *ngIf="$isLogged() | async; else notLoggedToolbar" class="flex justify-start items-center w-full">
    <img src="../../assets/logo_p6.png" alt="logo mdd" class="block w-24 h-auto" />
    <div class="flex gap-4 ml-auto">
      <span routerLink="posts" routerLinkActive="active-link" class="link">Articles</span>
      <span routerLink="topics" routerLinkActive="active-link" class="link">Thèmes</span>
      <span routerLink="me" routerLinkActive="active-link" class="link">
        <div class="user-wrapper" [ngClass]="{ 'active': router.url === '/me' }">
           <img [src]="(router.url === '/me') ? '../../assets/profil_purple/user.svg' : '../../assets/profil_gray/user.svg'" alt="user" class="w-6 h-6" />
        </div>
      </span>
    </div>
  </div>
  <ng-template #notLoggedToolbar>
    <div class="flex justify-start items-center">
      <img src="../../assets/logo_p6.png" alt="logo mdd" class="block mx-auto w-24 h-auto" />
    </div>
  </ng-template>
</mat-toolbar>

