<button mat-icon-button routerLink="/posts">
  <mat-icon>arrow_back</mat-icon>
</button>
<mat-card *ngIf="postForm" class="mx-auto my-12 no-shadow">
  <mat-card-title>
    <h1 class="text-center">Créer un nouvel article</h1>
  </mat-card-title>
  <mat-card-content>
    <form class="mt2" fxLayout="column" [formGroup]="postForm" (ngSubmit)="submit()">
    <label>Thème</label>
      <select formControlName="topicId" class="border-custom rounded p-2 mb-2 w-full" >
        <option *ngFor="let topic of topics$ | async" [value]="topic.id">
          {{topic.title}}
        </option>
      </select>
      <label>Titre</label>
      <input formControlName="title" class="border-custom rounded p-2 mb-2 w-full">
      <label>Description</label>
      <textarea rows="8" formControlName="description" class="border-custom rounded p-2 mb-2 w-full"></textarea>

      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="text-center">
          <button mat-raised-button color="primary" class="inline-block mt-4" type="submit" [disabled]="postForm.invalid">Sauvegarder</button>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
