/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active-link {
  color: #7763C5;
}

.custom-card {
  background: rgba(245, 245, 245, 1);
}

.mat-card-title:not(:first-child),
.mat-card-subtitle:not(:first-child) {
  margin-top: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}

mat-toolbar {
  background: none !important;
}
