<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div class="sm:hidden">
    <img src="../../assets/logo_p6.png" alt="logo mdd" class="block w-24 h-auto mr-auto" />
  </div>
  <div class="sm:hidden ml-auto">
    <button *ngIf="$isLogged() | async" mat-icon-button class="" type="button" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="hidden sm:flex justify-start items-center w-full">
    <img src="../../assets/logo_p6.png" alt="logo mdd" class="block w-24 h-auto mr-auto" />
    <div *ngIf="$isLogged() | async" class="flex gap-4 ml-auto">
      <span routerLink="posts" routerLinkActive="active-link" class="link cursor-pointer">Articles</span>
      <span routerLink="topics" routerLinkActive="active-link" class="link cursor-pointer">Thèmes</span>
      <span routerLink="me" routerLinkActive="active-link" class="link cursor-pointer">
        <div class="user-wrapper" [ngClass]="{ 'active': router.url === '/me' }">
           <img [src]="(router.url === '/me') ? '../../assets/profil_purple/user.svg' : '../../assets/profil_gray/user.svg'" alt="user" class="w-6 h-6" />
        </div>
      </span>
    </div>
  </div>
  <mat-drawer #drawer mode="side" position="end">
    <div class="fixed top-0 right-0 z-50 h-full w-1/2 bg-white">
      <div class="flex flex-col justify-between items-end h-full pr-8">
        <div class="flex flex-col text-right mt-36">
          <span routerLink="posts" routerLinkActive="active-link" class="link cursor-pointer" (click)="drawer.close()">Articles</span>
          <span routerLink="topics" routerLinkActive="active-link" class="link cursor-pointer" (click)="drawer.close()">Thèmes</span>
        </div>
        <div>
        <span routerLink="me" routerLinkActive="active-link" class="link cursor-pointer" (click)="drawer.close()">
          <div class="user-wrapper  mb-12" [ngClass]="{ 'active': router.url === '/me' }">
            <img [src]="(router.url === '/me') ? '../../assets/profil_purple/user.svg' : '../../assets/profil_gray/user.svg'" alt="user" class="w-6 h-6" />
          </div>
        </span>
        </div>
      </div>
    </div>
    <div class="fixed top-0 left-0 z-50 h-full w-1/2 bg-gray-100 bg-opacity-70 z-40" (click)="drawer.close()"></div>
  </mat-drawer>
</mat-toolbar>
<mat-divider class="my-4"></mat-divider>

